{{- $profile := dig "profile" "" . -}}
# --- formulae ---
brew "fzf"
brew "gh"
brew "git"
brew "zsh-syntax-highlighting"
brew "gnupg"
brew "htop"
brew "libpq"
brew "pyenv"
brew "redis"
brew "tfenv"
brew "dockutil"
brew "watch"
{{- if eq $profile "personal" }}
brew "helm"
brew "kubectl"
brew "go"
brew "hasura-cli"
brew "infracost"
brew "kafka"
brew "luarocks"
brew "minikube"
brew "mkcert"
brew "mongosh"
brew "openvpn"
brew "protobuf"
brew "sops"
brew "skaffold"
{{- end }}

# --- casks ---
cask "claude"
cask "claude-code"
cask "datagrip"
cask "docker-desktop"
cask "font-fira-code"
cask "google-chrome"
cask "iterm2"
cask "logitech-options"
cask "ngrok"
cask "postman"
cask "slack"
cask "spotify"
cask "visual-studio-code"
{{- if eq $profile "personal" }}
cask "1password"
cask "discord"
cask "geekbench"
cask "nvidia-geforce-now"
cask "tradingview"
cask "whatsapp"
{{- end }}
