{{- $profile := dig "profile" "" . -}}
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="robbyrussell"

HISTSIZE=50000
SAVEHIST=50000
HIST_STAMPS="yyyy-mm-dd"

plugins=(
  alias-finder
  colored-man-pages
  common-aliases
  cp
  docker-compose
  extract
  gh
  git
  history-substring-search
  macos
  nvm
  pip
  pyenv
  sudo
  z
  fzf
  terraform
  {{- if eq $profile "personal" }}
  kubectl
  {{- end }}
)

source $ZSH/oh-my-zsh.sh

zstyle ':omz:update' mode disabled
zstyle ':omz:plugins:alias-finder' autoload yes

bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down

setopt HIST_IGNORE_ALL_DUPS
setopt AUTO_CD

export PATH="/opt/homebrew/bin:$PATH"
export PATH="$PATH:node_modules/.bin"

source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
