# --- formulae ---
brew "chezmoi"
brew "fzf"
brew "gh"
brew "git"
brew "gnupg"
brew "go"
brew "hasura-cli"
brew "helm"
brew "htop"
brew "infracost"
brew "kafka"
brew "leiningen"
brew "libpq"
brew "luarocks"
brew "maven"
brew "minikube"
brew "mkcert"
brew "mongosh"
brew "openvpn"
brew "protobuf"
brew "pyenv"
brew "redis"
brew "skaffold"
brew "sops"
brew "tfenv"
brew "watch"
brew "yarn"

# --- casks ---
cask "1password"
cask "claude-code"
cask "datagrip"
cask "discord"
cask "docker"
cask "docker-desktop"
cask "font-fira-code"
cask "geekbench"
cask "google-chrome"
cask "iterm2"
cask "kindle"
cask "ngrok"
cask "nvidia-geforce-now"
cask "postman"
cask "slack"
cask "spotify"
cask "tradingview"
cask "visual-studio-code"
