{{- $profile := dig "profile" "" . -}}
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="robbyrussell"
DISABLE_UPDATE_PROMPT=true

plugins=(
  # --- shared ---
  alias-finder
  catimg
  common-aliases
  cp
  docker
  docker-compose
  extract
  git
  git-extras
  npm
  nvm
  pip
  pyenv
  virtualenv
  vscode
  web-search
  yarn
  z
  fzf
  {{- if eq $profile "work" }}
  # --- work ---
  kubectl
  terraform
  {{- end }}
  {{- if eq $profile "personal" }}
  # --- personal ---
  {{- end }}
)

source $ZSH/oh-my-zsh.sh

export PATH="/opt/homebrew/bin:$PATH"
export PATH="$PATH:node_modules/.bin"
{{ if eq $profile "work" }}
# Work-specific config
{{ end -}}
{{ if eq $profile "personal" }}
# Personal config
{{ end -}}
