#!/bin/bash
{{ if ne .chezmoi.os "darwin" -}}
exit 0
{{ end -}}
set -euo pipefail

[ -d "$HOME/.nvm" ] && exit 0

echo "Installing nvm..."
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
